.whiteText{
    color: white;
}
.login-container {
    opacity: 70%;
}
.login-container:hover {
    opacity: 100%;
}
.failed {
    background-color: #ca2246;
}

.success {
    background-color: green;
}