{% extends "layout.html" %}
{% block body %}
    <link href="static/css/login.css" rel="stylesheet" >
    <div class="container mt-5 textColor col-md-3">
        <form id="contactForm" class="p-4 shadow rounded bg-dark textColor login-container">
            {% if session["user_id"] %}
            <div class="mb-3">
                <h3>
                    Hello {{ username }}, how can we help you?
                </h3>
            </div>
            {% else %}
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" id="name" type="text" placeholder="Name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="emailAddress">Email Address</label>
                <input class="form-control" id="emailAddress" type="email" placeholder="Email Address">
            </div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label" for="message">Message</label>
                <textarea class="form-control" id="message" placeholder="Message" style="height: 10rem;"></textarea>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock body %}