{% extends "layout.html" %}
{% block body %}
<link href="static/css/courts.css" rel="stylesheet">
<script src="static/js/courts.js"></script>
{% if active %}
<script>
    document.getElementById("courts").className = "nav-link active";
</script>
{% endif %}
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Book your court</h1>
                    </div>
                    <form>
                        <div class="row">
                            <div class="form-group"> <select class="form-control" id="court-selector" onchange="changeListenerCourts()" required>
                                    <option value="" selected hidden>Which sport</option>
                                    {% for sport in sports %}
                                        <option>{{ sport["sport"] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group"> <select class="form-control" id="display-court-name" required>
                                    <option value="" selected hidden>Which court</option>
                                    {% autoescape false %}
                                        {% for court in courts %}
                                        <option value="{{ court["sport"]}}">{{ court["court_name"] }}</option>
                                        {% endfor %}
                                    {% endautoescape %}
                                </select>
                            </div>
                        </div>

                        <div class="row form-group"> <button class="submit-btn">Check availability</button> </div>

                        <div class="row">
                            <div class="form-group"> <input class="form-control" name="date-input" type="date" required> <span
                                    class="form-label">Date</span> </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1">1 hour</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">2 hours</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                <label class="form-check-label" for="inlineRadio3">3 hours (disabled)</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <!--
                                <input placeholder="Selected time" type="time" class="form-control" step="3600000" min="08:00:00" max="21:00:00">
                                -->
                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                {% for time in range(7, 23) %}
                                    <input type="radio" class="btn-check group1" name="btnradio" id="{{ time }}" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="{{ time }}">{{ time }}:00</label>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form-btn"> <button class="submit-btn">Book Now</button> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}