{% extends "layout.html" %}
{% block body %}
<link href="static/css/courts.css" rel="stylesheet">
<script src="static/js/courts.js"></script>
{% if active %}
<script>
    document.getElementById("courts").className = "nav-link active";
</script>
{% endif %}
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Book your court</h1>
                    </div>
                    <form action="" method="post">
                        <div class="row">
                            <div class="form-group"> <select class="form-control" id="court-selector" onchange="changeListenerCourts()" required>
                                    <option value="" selected hidden>Which sport</option>
                                    {% for sport in sports %}
                                        <option>{{ sport["sport"] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                 <select class="form-control" id="display-court-name" name="court_name" required>
                                    <option value="" selected hidden>Which court</option>
                                    {% autoescape false %}
                                        {% for court in courts %}
                                        <option id="{{ court["sport"]}}" value="{{ court["court_name"] }}">{{ court["court_name"] }}</option>
                                        {% endfor %}
                                    {% endautoescape %}
                                </select>
                            </div>
                        </div>

                        <div class="row form-group"> <button class="submit-btn" name="book" value="check">Check availability</button> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}