{% extends "layout.html" %}
{% block body %}
<link href="/static/css/courts.css" rel="stylesheet">
<script src="/static/js/courtTimeAndDate.js"></script>
{% if active %}
<script>
    document.getElementById("courts").className = "nav-link active";
</script>
{% endif %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="failed"></p>
        </div>
    </div>
    </div>
</div>
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Book your court</h1>
                    </div>
                    <form action="" method="post">
                        <div class="row">
                            <div class="form-group"> <input class="form-control" name="date-input" type="date" id="accident" required> <span
                                    class="form-label">Date</span> </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rent_hour" id="inlineRadio1" value="1" onchange="checkDate(1, {{ hours }})" data-bs-toggle="collapse" required>
                                <label class="form-check-label" for="inlineRadio1">1 hour</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rent_hour" id="inlineRadio2" value="2" onchange="checkDate(2, {{ hours }})" data-bs-toggle="collapse">
                                <label class="form-check-label" for="inlineRadio2">2 hours</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                <label class="form-check-label" for="inlineRadio3">3 hours (disabled)</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <!--
                                <input placeholder="Selected time" type="time" class="form-control" step="3600000" min="08:00:00" max="21:00:00">
                                -->
                                <div class="btn-group collapse" role="group" aria-label="Basic radio toggle button group" id="myCollapse" >
                                {% for time in range(min, max) %}
                                    <input type="radio" class="btn-check group1" name="hours" id="{{ time }}" value="{{ time }}" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="{{ time }}" id="{{ time }}">{{ time }}:00</label>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form-btn"> <button class="submit-btn" name="book" value="book">Book Now</button> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}