{% extends "layout.html" %}
{% block body %}
<link href="static/css/history.css" rel="stylesheet">
{% if active %}
<script>
    document.getElementById("history").className = "nav-link active";
</script>
{% endif %}
    <h2>Live oreders and past</h2>
    <div class="row">
        <div class="column">
            <table class = "table table-hover table-dark">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Court name</th>
                    <th>From hour</th>
                    <th>To hour</th>
                    <th>Location</th>
                    <th>Price</th>
                    <th>Cancel Option</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="column">
            <table class = "table table-hover table-dark">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Court name</th>
                        <th>From hour</th>
                        <th>To hour</th>
                        <th>Location</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}