{% extends "layout.html" %}
{% block body %}
    <script src="static/js/homepage.js"></script>
    <div class="content">
        <button class="float-end" id="myBtn" onclick="videoPlayPause()">Pause</button>
        <h1>Welcome!</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus rerum repellat dolore cumque cupiditate recusandae aspernatur asperiores nemo voluptatem quibusdam, deleniti ipsum in nobis atque itaque cum quo! Praesentium, dolor!</p>
    </div>
{% endblock body %}